body{
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
 
 
}
#myButton{
    font-size: 2em;
    padding: 5px 10px;
    border-radius: 4em;
    border: 2px solid white;
    color: white;
    background-color: rgb(83, 45, 119);
    
   
    justify-content: center;
}
.label{
    font-size: 8em;
    padding: 5px;

}